In [1]:
import pandas as pd

In [5]:
# to read in csv-formatted data, want to create a dataframe
timeseries_df = pd.read_csv('data/timeseries.csv')

In [7]:
timeseries_df.shape

(3261, 114)

In [9]:
timeseries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3261 entries, 0 to 3260
Columns: 114 entries, UID to 5/3/20
dtypes: float64(4), int64(104), object(6)
memory usage: 2.8+ MB

In [10]:
timeseries_df.info

<bound method DataFrame.info of              UID iso2 iso3  code3  FIPS          Admin2  \
0           16.0   AS  ASM     16  60.0             NaN
1          316.0   GU  GUM    316  66.0             NaN
2          580.0   MP  MNP    580  69.0             NaN
3          630.0   PR  PRI    630  72.0             NaN
4          850.0   VI  VIR    850  78.0             NaN
...          ...  ...  ...    ...   ...             ...
3256  84070016.0   US  USA    840   NaN    Central Utah
3257  84070017.0   US  USA    840   NaN  Southeast Utah
3258  84070018.0   US  USA    840   NaN  Southwest Utah
3259  84070019.0   US  USA    840   NaN       TriCounty
3260  84070020.0   US  USA    840   NaN    Weber-Morgan

                Province_State Country_Region        Lat       Long_  ...  \
0               American Samoa             US -14.271000 -170.132000  ...
1                         Guam             US  13.444300  144.793700  ...
2     Northern Mariana Islands             US  15.097900  145.673900  ...
3                  Puerto Rico             US  18.220800  -66.590100  ...
4               Virgin Islands             US  18.335800  -64.896300  ...
...                        ...            ...        ...         ...  ...
3256                      Utah             US  39.372319 -111.575868  ...
3257                      Utah             US  38.996171 -110.701396  ...
3258                      Utah             US  37.854472 -111.441876  ...
3259                      Utah             US  40.124915 -109.517442  ...
3260                      Utah             US  41.271160 -111.914512  ...

     4/24/20  4/25/20  4/26/20  4/27/20  4/28/20  4/29/20  4/30/20  5/1/20  \
0          0        0        0        0        0        0        0       0
1        141      141      141      141      141      141      145     145
2         14       14       14       14       14       14       14      14
3       1276     1307     1371     1389     1400     1433     1539    1575
4         54       55       57       57       57       57       66      66
...      ...      ...      ...      ...      ...      ...      ...     ...
3256      21       21       21       22       22       22       23      23
3257       8       11       12       13       13       14       12      13
3258      81       83       87       89       91       93       98     101
3259       9        9       10       11       11       11       13      13
3260     140      143      145      148      148      151      158     162

      5/2/20  5/3/20
0          0       0
1        145     145
2         14      14
3       1757    1808
4         66      66
...      ...     ...
3256      23      24
3257      15      11
3258     103     111
3259      13      14
3260     166     167

[3261 rows x 114 columns]>

In [11]:
timeseries_df.head(100)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20
0,16.0,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316.0,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,141,141,141,141,141,141,145,145,145,145
2,580.0,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,14,14,14,14,14,14,14,14,14,14
3,630.0,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,1276,1307,1371,1389,1400,1433,1539,1575,1757,1808
4,850.0,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,54,55,57,57,57,57,66,66,66,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,84002230.0,US,USA,840,2230.0,Skagway,Alaska,US,59.561500,-135.333775,...,0,0,0,0,0,0,0,0,0,0
96,84002240.0,US,USA,840,2240.0,Southeast Fairbanks,Alaska,US,63.876921,-143.212764,...,1,1,1,1,1,1,1,1,1,1
97,84002261.0,US,USA,840,2261.0,Valdez-Cordova,Alaska,US,61.475028,-144.712680,...,0,0,0,0,0,0,0,0,0,0
98,84002275.0,US,USA,840,2275.0,Wrangell,Alaska,US,56.320200,-132.058373,...,0,0,0,0,0,0,0,0,0,0
99,84002282.0,US,USA,840,2282.0,Yakutat,Alaska,US,59.890981,-140.360145,...,0,0,0,0,0,0,0,0,0,0

In [12]:
timeseries_df.tail(100)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20
3161,84080016.0,US,USA,840,80016.0,Out of ID,Idaho,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3162,84080017.0,US,USA,840,80017.0,Out of IL,Illinois,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3163,84080018.0,US,USA,840,80018.0,Out of IN,Indiana,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3164,84080019.0,US,USA,840,80019.0,Out of IA,Iowa,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3165,84080020.0,US,USA,840,80020.0,Out of KS,Kansas,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016.0,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,21,21,21,22,22,22,23,23,23,24
3257,84070017.0,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,8,11,12,13,13,14,12,13,15,11
3258,84070018.0,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,81,83,87,89,91,93,98,101,103,111
3259,84070019.0,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,9,9,10,11,11,11,13,13,13,14
3260,84070020.0,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,140,143,145,148,148,151,158,162,166,167

In [13]:
timeseries_df.mode()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20
0,16.0,US,USA,840.0,60.0,Unassigned,Texas,US,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,316.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,580.0,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,630.0,NaN,NaN,NaN,72.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,850.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84090053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3257,84090054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3258,84090055.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3259,84090056.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3260,84099999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
display(timeseries_df.describe())

,UID,code3,FIPS,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20
count,3.261000e+03,3261.000000,3251.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,...,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000
mean,8.390341e+07,839.445569,32090.929560,37.165903,-89.160375,0.000307,0.000307,0.000613,0.000613,0.001533,...,277.632015,287.689052,296.162220,303.034959,310.512726,318.892671,327.943576,338.381171,347.298068,355.118062
std,3.288463e+06,18.068968,17825.153176,8.662455,21.547038,0.017512,0.017512,0.024761,0.024761,0.039133,...,2984.462471,3077.283578,3144.851295,3193.588364,3236.932317,3294.328104,3352.753621,3407.947840,3465.731857,3513.944412
min,1.600000e+01,16.000000,60.000000,-14.271000,-170.132000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.401904e+07,840.000000,19038.000000,34.237321,-98.066628,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,8.403006e+07,840.000000,30045.000000,38.149014,-89.827411,0.000000,0.000000,0.000000,0.000000,0.000000,...,13.000000,13.000000,14.000000,14.000000,15.000000,15.000000,16.000000,16.000000,17.000000,18.000000
75%,8.404702e+07,840.000000,47010.000000,41.683301,-82.793570,0.000000,0.000000,0.000000,0.000000,0.000000,...,63.000000,65.000000,68.000000,70.000000,72.000000,76.000000,78.000000,81.000000,85.000000,87.000000
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,1.000000,1.000000,1.000000,1.000000,1.000000,...,150473.000000,155113.000000,158258.000000,160489.000000,162338.000000,164841.000000,167478.000000,169690.000000,172354.000000,174331.000000